<section class="page">
  <header><h1>编辑资源</h1></header>
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline"
      ><mat-label>名称</mat-label
      ><input matInput formControlName="name" /></mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>环境</mat-label
      ><mat-select formControlName="environmentId"
        >@for (item of environments(); track item.id) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option> }</mat-select
      ></mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>分类</mat-label
      ><mat-select
        formControlName="categoryId"
        (selectionChange)="categoryChanged()"
        >@for (item of categories(); track item.id) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option> }</mat-select
      ></mat-form-field
    >
    <div class="filters">
      <mat-form-field appearance="outline"
        ><mat-label>分组</mat-label
        ><mat-select formControlName="groupId"
          ><mat-option value="">不分组</mat-option>@for (item of groups(); track
          item.id) {
          <mat-option [value]="item.id">{{ item.name }}</mat-option>
          }</mat-select
        ></mat-form-field
      ><button mat-stroked-button type="button" (click)="createGroup()">
        新建分组
      </button>
    </div>
    <mat-form-field appearance="outline"
      ><mat-label>资源定义</mat-label
      ><mat-select
        formControlName="definitionId"
        (selectionChange)="definitionChanged()"
        >@for (item of definitions(); track item.id) {
        <mat-option [value]="item.id">{{ item.name }}</mat-option> }</mat-select
      ></mat-form-field
    >@if (definition(); as selected) {
    <mat-card
      ><mat-card-header
        ><mat-card-title
          >{{ selected.name }} 属性</mat-card-title
        ></mat-card-header
      ><mat-card-content
        >@for (property of selected.properties; track property.id) {
        <mat-form-field appearance="outline"
          ><mat-label>{{ property.name }}</mat-label>@if (property.valueType ===
          valueTypes.Boolean) {
          <mat-select [formControl]="values.controls[property.id]"
            ><mat-option value="true">是</mat-option
            ><mat-option value="false">否</mat-option></mat-select
          >
          } @else {
          <input
            matInput
            [type]="property.valueType === valueTypes.Number ? 'number' : property.valueType === valueTypes.Date ? 'date' : 'text'"
            [formControl]="values.controls[property.id]"
          />
          }</mat-form-field
        >
        }</mat-card-content
      ></mat-card
    >
    }
    <div class="filters">
      <mat-form-field appearance="outline"
        ><mat-label>标签</mat-label
        ><mat-select formControlName="tagNames" multiple
          >@for (item of tags(); track item.id) {
          <mat-option [value]="item.name">{{ item.name }}</mat-option>
          }</mat-select
        ></mat-form-field
      ><button mat-stroked-button type="button" (click)="createTag()">
        新建标签
      </button>
    </div>
    <mat-form-field appearance="outline"
      ><mat-label>图标 URL</mat-label
      ><input matInput formControlName="iconUrl" /></mat-form-field
    ><mat-form-field appearance="outline"
      ><mat-label>描述</mat-label
      ><textarea matInput rows="4" formControlName="description"></textarea>
    </mat-form-field>
    <div class="actions">
      <button mat-button type="button" routerLink="../../">取消</button
      ><button mat-flat-button type="submit" [disabled]="saving">保存</button>
    </div>
  </form>
</section>
