<section class="page">
  <form [formGroup]="form" (ngSubmit)="save()">
    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.userName | translate }}</mat-label>
      <input matInput formControlName="userName" />
      @if (form.controls.userName.hasError('required')) {
        <mat-error>{{ i18nKeys.validation.required | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.password | translate }}</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (form.controls.password.hasError('required')) {
        <mat-error>{{ i18nKeys.validation.required | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.realName | translate }}</mat-label>
      <input matInput formControlName="realName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.email | translate }}</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (form.controls.email.hasError('email')) {
        <mat-error>{{ i18nKeys.validation.email | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.phoneNumber | translate }}</mat-label>
      <input matInput formControlName="phoneNumber" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.gender | translate }}</mat-label>
      <mat-select formControlName="sex">
        @for (gender of genders; track gender.value) {
          <mat-option [value]="gender.value">
            {{ gender.labelKey | translate }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.role | translate }}</mat-label>
      <mat-select formControlName="roleIds" multiple>
        @for (role of roles(); track role.id) {
          <mat-option [value]="role.id">{{ role.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ i18nKeys.systemUser.avatarUrl | translate }}</mat-label>
      <input matInput formControlName="avatar" />
    </mat-form-field>

    <div class="d-flex justify-content-end gap-3">
      <button mat-button type="button" routerLink="../">
        {{ i18nKeys.common.cancel | translate }}
      </button>
      <button mat-flat-button type="submit" [disabled]="saving">
        {{ i18nKeys.common.save | translate }}
      </button>
    </div>
  </form>
</section>
