<section class="page">
  <header>
    @if (resource(); as item) {
      <a mat-flat-button [routerLink]="['../../', item.id, 'edit']"
      >
      <mat-icon class="primary">edit</mat-icon>{{ i18nKeys.common.edit | translate }}
      </a
      >
    }
  </header>
  @if (resource(); as item) {
    <mat-card
    >
    <mat-card-content
    >
    <dl>
      <dt>{{ i18nKeys.resource.name | translate }}
      </dt>
      <dd>{{ item.name }}
      </dd>
      <dt>{{ i18nKeys.resource.environment | translate }}
      </dt>
      <dd>{{ item.environmentName }}
      </dd>
      <dt>{{ i18nKeys.resource.category | translate }}
      </dt>
      <dd>{{ item.categoryName }}
      </dd>
      <dt>{{ i18nKeys.resource.group | translate }}
      </dt>
      <dd>{{ item.groupName || '-' }}
      </dd>
      <dt>{{ i18nKeys.resource.definition | translate }}
      </dt>
      <dd>{{ item.definitionName }}
      </dd>
      <dt>{{ i18nKeys.resource.tag | translate }}
      </dt>
      <dd>{{ item.tagNames.join(', ') || '-' }}
      </dd>
      <dt>{{ i18nKeys.resource.description | translate }}
      </dt>
      <dd>{{ item.description || '-' }}
      </dd>
      @for (value of item.values; track value.definitionPropertyId) {
        <dt>{{ value.name }}
        </dt>
        <dd>{{ value.value }}
        </dd>
      }
    </dl>
  </mat-card-content
  >
</mat-card
>
}
@else {
  <mat-spinner diameter="36" />
}
</section>
