<h2 mat-dialog-title>
  {{ (data?.group ? i18nKeys.resource.editGroup : i18nKeys.resource.addGroup) | translate }}
</h2>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="save()" class="resource-group-form">
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>{{ i18nKeys.resource.group | translate }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    @if (data?.categories?.length) {
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ i18nKeys.resource.category | translate }}</mat-label>
        <mat-select formControlName="categoryId">
          @for (category of data?.categories; track category.id) {
            <mat-option [value]="category.id">
              <mat-icon [style.color]="category.color"
                [class.resource-icon-fill]="iconStyle(category.icon) === 'fill'"
                [class.resource-icon-outline]="iconStyle(category.icon) === 'outline'">{{ iconName(category.icon, 'category') }}</mat-icon>
              {{ category.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-label>{{ i18nKeys.resource.description | translate }}</mat-label>
      <textarea matInput rows="3" formControlName="description"></textarea>
    </mat-form-field>

    <div class="resource-picker-field">
      <h3 class="mat-title-small">{{ i18nKeys.common.color | translate }}</h3>
      <app-resource-color-picker formControlName="color" />
    </div>

    <div class="resource-picker-field">
      <h3 class="mat-title-small">{{ i18nKeys.common.icon | translate }}</h3>
      <app-resource-icon-picker formControlName="icon" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{ i18nKeys.common.cancel | translate }}</button>
  <button mat-flat-button color="primary" type="button" [disabled]="form.invalid" (click)="save()">
    {{ i18nKeys.common.save | translate }}
  </button>
</mat-dialog-actions>
