<section class="page">
  <header>
    @if (permission(); as item) {
      <button
        mat-flat-button
        type="button"
        (click)="edit()"
        [attr.aria-label]="i18nKeys.common.edit | translate"
      >
        <mat-icon class="primary">edit</mat-icon>
        {{ i18nKeys.common.edit | translate }}
      </button>
    }
  </header>

  @if (permission(); as item) {
    <mat-card>
      <mat-card-content>
        <dl>
          <dt>{{ i18nKeys.systemPermission.name | translate }}</dt>
          <dd><code>{{ item.name }}</code></dd>
          <dt>{{ i18nKeys.systemPermission.description | translate }}</dt>
          <dd>{{ item.description || '-' }}</dd>
          <dt>{{ i18nKeys.systemPermission.typeValue | translate }}</dt>
          <dd>{{ item.permissionType }}</dd>
          <dt>{{ i18nKeys.systemPermission.status | translate }}</dt>
          <dd>
            {{
              item.enable
                ? (i18nKeys.systemPermission.enabled | translate)
                : (i18nKeys.systemPermission.disabled | translate)
            }}
          </dd>
          <dt>{{ i18nKeys.systemPermission.group | translate }}</dt>
          <dd>{{ item.group.name }}</dd>
        </dl>
      </mat-card-content>
    </mat-card>
  } @else {
    <mat-spinner diameter="36" />
  }
</section>
